<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EpicrisisWord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EpicrisisWord.Properties.Settings>
            <setting name="recom_hop" serializeAs="String">
                <value>Рекомендации при выписке: наблюдение терапевта, невропатолога, диета № 12, ЛФК, массаж курсами. Курсы сосудистой терапии 2 раза в год в дневном стационаре по показаниям, при болях — короткий курс нестероидных противовоспалительных средств ( таб. Ксефокам 8 мг 1т. в день, мазь Диклоран наружно), приём таб. Кавинтон 5  мг 1т. 3 раза в день и таб. Пирацетам 400 мг 1т. 3 раза в день 1месяц . Избегать вертикальных нагрузок, переохлаждений, длительных вынужденных положений, переразгибаний  в шейном отделе позвоночника. ЦДС экстракраниальных отделов сосудов головного мозга выполнить по участку в плановом порядке.</value>
            </setting>
            <setting name="recom_pop" serializeAs="String">
                <value>Рекомендации при выписке: наблюдение терапевта, невропатолога, диета № 12, ЛФК, массаж курсами. Курсы терапии 2 раза в год в дневном стационаре по показаниям, при болях — короткий курс нестероидных противовоспалительных средств ( таб. Ксефокам 8 мг 1т. в день, мазь Диклоран наружно). Избегать вертикальных нагрузок, переохлаждений, длительных вынужденных положений, переразгибаний  в поясничном отделе позвоночника.</value>
            </setting>
            <setting name="recom_gop" serializeAs="String">
                <value>Рекомендации при выписке: наблюдение терапевта, невропатолога, диета № 12, ЛФК, массаж курсами. Курсы терапии 2 раза в год в дневном стационаре по показаниям, при болях — короткий курс нестероидных противовоспалительных средств ( таб. Ксефокам 8 мг 1т. в день, мазь Диклоран наружно). Избегать вертикальных нагрузок, переохлаждений, длительных вынужденных положений, переразгибаний  в грудном отделе позвоночника.</value>
            </setting>
        </EpicrisisWord.Properties.Settings>
    </applicationSettings>
</configuration>